<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/admin_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1.0">
    <title>标签新增或编辑页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css">
</head>
<body>

    <!-- 导航部分 开始 -->
    <nav th:replace="admin/admin_fragment::menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">

    </nav>
    <!-- 导航部分 结束 -->

    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href=""# th:href="@{/admin/tags/input}" class="active teal item">新增</a>
                <a href=""# th:href="@{/admin/tags}" class="item">列表</a>
            </div>

        </div>
    </div>

    <!-- 主体部分 开始 -->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <form action="#" method="post" th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})}" th:object="${tag}" class="ui form">
                <input type="hidden" name="id" th:value="*{id}">
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">名称</label>
                        <input type="text" name="name" placeholder="标签名称" th:value="*{name}">
                    </div>

                </div>


                <div class="ui error message">

                </div>

                <!--/*/
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                    <i class="close icon"></i>
                    <div class="header">验证失败</div>
                    <p th:errors="*{name}">提交信息不符合规则</p>
                </div>
                /*/-->

                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                    <button class="ui teal button">提交</button>
                </div>
            </form>
        </div>
    </div>
    <!-- 主体部分 结束 -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- 底部部分 开始 -->
    <footer th:replace="admin/admin_fragment::footer" class="ui inverted vertical segment m-padded-tb-massive">
    </footer>
    <!-- 底部部分 结束 -->

    <!--/*/<th:block th:replace="admin/admin_fragment :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

    <script>

        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        $('.ui.form').form({
           fields: {
               title: {
                   identifier: 'name',
                   rules: [
                       {
                           type: 'empty',
                           prompt: '请输入标签名称'
                       }
                   ]
               }
           }
        });
    </script>
</body>

</html>
