<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common_fragment :: head(~{::title})">
    <title>博客首页</title>
</head>
<body>

    <nav th:replace="common/common_fragment :: menu(1)"></nav>

    <!-- 主体部分 开始 -->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <!-- 左边博客列表 -->
                <div class="eleven wide column">
                    <!-- Header -->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <div class="ui teal header">博客</div>
                            </div>
                            <div class="right aligned column">
                                共 <h2 class="ui orange header m-inline-block m-text-thin">14</h2> 篇
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="ui attached segment">

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                    <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来没有想过，只是大家都这么做而已...</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">znlccy</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-08-18
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-inline-block m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Bottom -->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" class="ui mini teal basic button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" class="ui mini teal basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 右边Top -->
                <div class="five wide column">

                    <!-- 分类 -->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" class="">更多<i class="angle double right icon"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">
                                    学习日志
                                    <div class="ui label teal basic left pointing">13</div>
                                </a>
                                <a href="#" class="item">
                                    思考与感悟
                                    <div class="ui label teal basic left pointing">13</div>
                                </a>
                                <a href="#" class="item">
                                    清单
                                    <div class="ui label teal basic left pointing">13</div>
                                </a>
                                <a href="#" class="item">
                                    JavaScript
                                    <div class="ui label teal basic left pointing">13</div>
                                </a>
                                <a href="#" class="item">
                                    创业
                                    <div class="ui label teal basic left pointing">13</div>
                                </a>
                                <a href="#" class="item">
                                    认知升级
                                    <div class="ui label teal basic left pointing">13</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- 标签 -->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#" class="">更多<i class="angle double right icon"></i></a>
                                </div>
                            </div>

                        </div>

                        <div class="ui teal segment">
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui label teal basic left pointing m-margin-tb-tiny">
                                方法轮
                                <div class="detail">10</div>
                            </a>
                        </div>
                    </div>

                    <!-- 最新推荐 -->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 (User Story)</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 (User Story)</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 (User Story)</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 (User Story)</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 (User Story)</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 (User Story)</a>
                        </div>
                    </div>

                    <!-- 二维码 -->
                    <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                    <div class="ui centered card" style="width: 11em">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <!-- 主体部分 结束 -->

    <!-- 底部部分 开始 -->
    <footer th:replace="common/common_fragment :: footer"></footer>
    <!-- 底部部分 结束 -->

    <!-- 公共JS 开始 -->
    <th:block th:replace="common/common_fragment :: script"></th:block>
    <!-- 公共JS 结束 -->
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</body>

</html>
